.Button {
	min-width: 65px;
	height: 30px;
	border-radius: 23px;
	font-size: .8em;
	font-weight: 300;
	margin: 1%;
}

.Button__green {
	background: rgb(121, 207, 121);
}

.Button__blue {
	background: rgb(63, 86, 148);
}

.Button__red {
	background: rgb(139, 61, 61);
}
