.Image {
	width: 250px;
	// max-height: 150px;
	display: block;
}

.Image__large {
	width: 700px;
	// max-height: 400px;
}

.Image__title {
	font-size: .6rem;
	padding: 0;
	margin: 0;
}

.Image__selectionButtons {
	width: 80%;
	margin: auto;
}

.ImageLarge {
	width: 700px;
}

.ImageLarge__comment {
	width: 90%;
}

.ImageLarge__comment_textArea {
	resize: none;
	min-height: 5em;
	max-height: 50vh;
	padding: 5%;
	width: 100%;
	box-sizing: border-box;
	background: rgb(214, 214, 214);
	border: none;
}
