.Counter {
	width: 100%;
	max-height: 10%;
	background: rgba(0, 128, 0, 0.459);
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: .7rem;
}

.Counter__section {
	background: rgba(245, 245, 245, 0.308);
	padding: 0 .5%;
	margin: .5%;
}
