.Layout {
	padding-top: 25px;
	padding-bottom: 25px;
	width: 98%;
	min-width: 350px;
	margin: 0 auto;
	color: rgb(114, 114, 114);
}

* {
	-ms-overflow-style: none; // IE 10+
}
*::-webkit-scrollbar {
	display: none; // Safari and Chrome
}
