.ImageContainer {
	width: 300px;
	background: rgba(207, 197, 197, 0.562);
	margin: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: all .3s ease-in-out;
	padding-bottom: 2%;
}

.ImageContainer__large {
	width: 750px;
	position: absolute;
	z-index: 400;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgb(207, 197, 197);
}

.ImageContainer__green {
	background: rgb(83, 146, 83);
}

.ImageContainer__blue {
	background: rgb(64, 97, 146);
}

.ImageContainer__red {
	background: rgb(145, 58, 58);
}
