.MainView {
	text-align: center;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	padding-top: 1%;
}

.MainView__imagesContainer {
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

h1,
input {
	margin: 2%;
	margin-top: 1%;
}
